
{% extends 'ObservationBundle::layout.desktop.html.twig' %}
{% block title %}Observation{% endblock %}

{% block content %}
    <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title">
                    Saisie d'observation
                </h1>
            </div>
            <div class="panel-body">
                {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                {{ form_errors(form) }}
                <div class="form-group">
                    {{ form_label(form, 'Ajouter une observation', {'label_attr': {'class': 'col-md-2'}}) }}
                    {{ form_errors(form.observation) }}
                    <div class="col-md-10">
                        {{ form_widget(form.observation) }}
                    </div>
                </div>
                <div class="form-group">
                    <div>
                        {{ form_label(form.seeAt, form.vars.label, {'label_attr': {'class': 'col-md-2'}}) }}
                        {{ form_errors(form.seeAt) }}
                        <div class="col-md-4">
                            {{ form_widget(form.seeAt, { 'id': 'datetimepicker'}) }}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div>
                        {{ form_label(form.location) }}
                        {{ form_errors(form.location) }}

                        {{ form_widget(form.location, {'attr':{'class': 'col-md-10 col-md-offset-1'}}) }}

                        <div id="map"></div>
                    </div>

                    </div>

                <div class="text-center">
                    {{ form_widget(form.save) }}
                </div>

                {{ form_end(form) }}

            </div>
        </div>
    {% block javascript %}
    {{ parent() }}
        <script>

            $(document).ready(function() {
                $.datetimepicker.setLocale('fr');
                $('#datetimepicker').datetimepicker();
            });

            var iconBaseOiseaux = '{{ asset('bundles/observation/images/icones/crow_red.png') }}';
            </script>
        <script src="{{ asset('bundles/observation/js/maps.observation.js') }}"></script>
            <script async defer
                    src="https://maps.googleapis.com/maps/api/js?v=3&amp;key={{ google_api_key }}&callback=initMap">
            </script>
    {% endblock %}

{% endblock %}










