
{% extends 'ObservationBundle::layout.desktop.html.twig' %}
{% block title %}Observation{% endblock %}

{% form_theme form 'ObservationBundle:Form:locationField.html.twig' %}


{% block content %}


    <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title">
                    Saisir une Observation
                </h1>
            </div>
            <div class="panel-body">
                {{ form_start(form, {'attr': {'class': 'form-horizontal', 'enctype': 'multipart/form-data'}}) }}
                {{ form_errors(form) }}

            {#Localisation Observation#}
                <div class="form-group">
                    <div>
                        {{ form_label(form.location) }}
                        {{ form_errors(form.location) }}
                        {{ form_widget(form.location, {'attr':{'class': 'col-md-10 col-md-offset-1'}}) }}
                        <button type="button" class="btn btn-primary btn-lg col-md-10 col-md-offset-1" id="locationChoice">Selectioner votre position</button>
                    </div>
                </div>
            {#Modale de la map#}
                <div class="modal fade" id="myModal">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Lieu de l'observation</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div id="map"></div>
                            </div>
                            <div class="modal-footer">
                                <span id="infoPosition"></span>
                                <button type="button" class="btn btn-primary col-md-offset-1" id="currentPosition" data-dismiss="modal">Valider la position</button>
                            </div>
                        </div>
                    </div>
                </div>
            {#Date de l'observation#}
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            {{ form_label(form.seeAt, form.vars.label) }}
                            {{ form_errors(form.seeAt) }}
                            {{ form_widget(form.seeAt, { 'id': 'datepicker'}) }}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            {{ form_label(form.bird, form.vars.label) }}
                            {{ form_errors(form.bird) }}
                            {{ form_widget(form.bird) }}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            {{ form_label(form.numberBird, form.vars.label) }}
                            {{ form_errors(form.numberBird) }}
                            {{ form_widget(form.numberBird, {'type': 'number'}) }}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            {{ form_label(form.observation) }}
                            {{ form_errors(form.observation) }}
                            {{ form_widget(form.observation) }}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            {{ form_label(form.pictures) }}
                            {{ form_errors(form.pictures) }}
                            {{ form_widget(form.pictures) }}<br>

                                <div id="picBird">
                                    <button type="button" class="close" aria-label="Close" id="closePic">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>


                        </div>
                    </div>
                </div>


                <div class="text-center">
                    {{ form_widget(form.save) }}
                </div>

                {{ form_end(form) }}

            </div>
        </div>
    {% block javascript %}
    {{ parent() }}
        <script src="{{ asset('bundles/observation/js/map.js') }}"></script>
        <script src="{{ asset('bundles/observation/js/observation.js') }}"></script>
            <script async defer
                    src="https://maps.googleapis.com/maps/api/js?v=3&amp;key={{ google_api_key }}&callback=initMap">
            </script>
    {% endblock %}

{% endblock %}










