{% extends '@Observation/layout.desktop.html.twig' %}

{% block title %}Details de l'observation{% endblock %}
{% block content %}

    <h1>
        Details de l'observation
    </h1>

    <table class="table table-striped">
        <tbody>
        <tr>
            <th scope="row">Observateur</th>
            <td>{{ observation.user.username }}</td>
        </tr>
        <tr>
            <th scope="row">Date observation</th>
            <td>{{ observation.seeAt|date('Y-m-d') }}</td>
        </tr>
        <tr>
            <th scope="row">Espèce observée</th>
            <td>{{ observation.bird.lbNom }}</td>
        </tr>
        <tr>
            <th scope="row">Spécimens observés</th>
            <td>{{ observation.quantity }}</td>
        </tr>
        <tr>
            <th scope="row">Lieu de l'observation</th>
            <td>{{ observation.location.lieu }}</td>
        </tr>
        {#<tr>#}
        {#<th scope="row">Photo(s)</th>#}
        {#<td>{{ observation.pictures.url }}</td>#}
        {#</tr>#}
        <tr>
            <th scope="row">Description</th>
            <td>{{ observation.observation }}</td>
        </tr>
        </tbody>
    </table>
    {% if 'ROLE_NATURALISTE' in app.user.roles %}
        <div class="text-center">
            {% if observation.validated == true %}
                <a href="#invalide_observation_{{ observation.id }}" class="btn btn-xs btn-info" data-toggle="modal">Unvalidé
                    l'observation</a>
            {% else %}
                <a href="#valide_observation_{{ observation.id }}" class="btn btn-xs btn-info" data-toggle="modal">Validé
                    l'observation</a>
            {% endif %}
        </div>
        {% if observation.validated == true %}
            {% include 'ObservationBundle:Modal:unvalide.observation.html.twig' with {'observation': observation} %}
        {% else %}
            {% include 'ObservationBundle:Modal:valide.observation.html.twig' with {'observation': observation} %}
        {% endif %}
        <a href="{{ path('user_observations') }}">Reourner à la liste</a>
    {% else %}
        <a href="{{ path('bird_location', {'id': observation.bird.id}) }}"></a>
    {% endif %}
{% endblock %}



