{% extends 'ObservationBundle::layout.mobile.html.twig' %}
{% block title %}Gallerie d'image{% endblock %}

{% block link %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/observation/css/gallery.css') }}">
{% endblock %}
{% block content %}
    <div class="center-90">
        <h1>Gallerie photos</h1>
        <a href="#" id="up"><i class="fa fa-chevron-circle-up fa-2x"></i></a>
        <div id="pictures"
             data-href="{{ path('gallerie_pagination', {'page': 1}) }}">
        </div>
        <div class="row">
            <div class="col-sm-2 col-sm-offset-5 loader"></div>
        </div>
    </div>

{% endblock %}
{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('bundles/observation/js/AJAX/Mobile/galery.list.js') }}"></script>
{% endblock %}