<div id="bird" class="tab-pane second row {{  app.request.attributes.get('_route') in ['bird_description', 'bird_location'] ? 'active' : ''}}">
        <div class="second_line col-xs-3 text-center {{  app.request.attributes.get('_route')== 'bird_description' ? 'active': '' }}">
            <a href="{{ path('bird_description', {'id': bird.id}) }}" class="text-center">
                <img src="{{ app.request.attributes.get('_route') == 'bird_description' ? asset('bundles/observation/images/icones/description_icon_hover.png') : asset('bundles/observation/images/icones/description_icon.png') }}" alt="">
            </a>
        </div>
        <div class="second_line col-xs-3 text-center">
            <a href="#bird_sound" id="bird_sound">
                <img src="{{ bird.sound is null ? asset('bundles/observation/images/icones/son_icon.png') : asset('bundles/observation/images/icones/son_icon_hover.png') }}" alt=""></a>
        </div>
        <div class="second_line col-xs-3 text-center {{  app.request.attributes.get('_route') == 'bird_location' ? 'active' :'' }}">
            <a href="{{ path('bird_location', {'id': bird.id}) }}" id="bird_repartition">
                <img src="{{ app.request.attributes.get('_route') == 'bird_location' ? asset('bundles/observation/images/icones/repartition_icon_hover.png') : asset('bundles/observation/images/icones/repartition_icon.png') }}" alt=""></a>
        </div>
        <div class="second_line col-xs-3 text-center">
            <a href="{{ path('bird_observation', {'id': bird.id}) }}" id="bird_add">
                <img src="{{ asset('bundles/observation/images/icones/ajoutObservation_icon.png') }}" alt=""></a>
        </div>
</div>