{% extends '@Observation/layout.mobile.html.twig' %}

{% block title %}L'association{% endblock %}
{% block link %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/observation/css/blog.css') }}">
{% endblock %}

{% block content %}

    <div id="billets" class="center-80">
        {% for content in contents %}
           <div class="billet">
               {% if app.user and 'ROLE_ADMIN' in app.user.roles %}
                   <a href="{{ path('billet_edit', {'id': content.id }) }}" class="btn btn-nao edit "><i
                               class="fa fa-pencil"></i></a>
               {% endif %}
               {{ content.content|raw }}
           </div>
        {% endfor %}
        {% if app.user and 'ROLE_ADMIN' in app.user.roles %}
            <a href="{{ path('billet_create') }}" class="btn btn-nao">Ajouté un billet</a>
        {% endif %}
    </div>
{% endblock %}