{% extends 'ObservationBundle::layout.mobile.html.twig' %}
{% block  title %}Accueil{% endblock %}

{% block link %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/observation/css/home.css') }}">
{% endblock %}

{% block body %}

    {# Incorporation de la bar de navigation desktop et des messages flashs #}
    {% include '@Observation/Default/Navbar/Mobile/navbar.html.twig' %}
    {% include 'ObservationBundle:Default:flash.message.html.twig' %}
    {# block content qui sera remplit au besion sur chaque page#}

    {# Block affichant une pĥoto sur toute la fenetre et son bouton permettant de descendre sur le bas de page#}
    <div id="homePicture">
        <div class="text-center">
            <button id="start" type="button" class="btn btn-start-desktop">COMMENCER L'OBSERVATION<br/>
                <span class="glyphicon glyphicon-chevron-down
" aria-hidden="true"></span>
            </button>
        </div>
    </div>

    <div id="contentHome" class="container">

    {% block content %}

        {#Zone de présentation du site #}
        <div id="bienvenue" class="center-80">
            <h1>Bienvenue</h1>
            <p>Bienvenue sur l'application participative de L'association Nos amis les oiseaux.<br/>Vous pourrez
                nous faire part de vos observations sur le terrain ou approfondir vos connaissances en ornithologie
                à l'aide de fiches détaillés sur nos amis les oiseaux</p>
            <div class="text-center">
                <a class="btn btn-nao" href="#" role="button">DECOUVRIR L'ASSOCIATION</a>
            </div>
        </div>
        {# Galeery des photos d'oiseaux#}
        <div id="gallery" class="center-80">
            <div class="row">
                <h1 class="col-md-10 col-xs-12">Les dernières photos</h1>

            </div>
            <div class="col-md-12  col-xs-11 text-center ">
                {% for picture in gallery %}
                    <img src="{{ asset('uploads/images/bird/' ~picture.url) }}"
                         style="min-width: 20px; min-height: 150px; width: 200px; height: 150px;">
                {% else %}
                    <p>Prochainement les dernières photos</p>
                {% endfor %}
            </div>
            <a href="#" class="col-md-2 col-xs-12 text-center link-mobile">accéder à la gallerie</a>

        </div>
        {#block de saisie obs et newsletter#}
        <div id="actions" class="row">
            <div id="saisie" class="text-center col-xs-12 col-md-6 obs-mobile">
                <a href="{{ path ('observation_add') }}"><img
                            src="{{ asset ('bundles/observation/images/icones/observation_icon.png') }}"
                            alt="observation_icon">
                    <p>
                        SAISIR UNE OBSERVATION
                    </p>
                </a>
            </div>
            <div id="newsletter" class="col-xs-12 col-md-6">
                <input type="text" placeholder="Renseigner votre email" class="form-control text-center">
                <button type="submit" class="btn btn-nao-2 btn-lg btn-block">RECEVOIR LA NEWSLETTER</button>
            </div>
        </div>
        <div id="sociallink" class="text-center">
            <h1>SUIVEZ-NOUS</h1>
            <ul>
                <li class="logo-sociaux first_line">
                    <a href="https://facebook.com" class="btn btn-social-icon btn-facebook"><i
                                class="fa fa-facebook-f"></i></a></li>
                <li class="logo-sociaux first_line">
                    <a href="https://instagram.com" class="btn btn-instagram btn-circle"><i class="fa fa-instagram"></i></a>
                </li>
                <li class="logo-sociaux first_line">
                    <a href="https://twitter.com" class="btn btn-social-icon btn-twitter"><i class="fa fa-twitter"></i></a>
                </li>
            </ul>
        </div>
        </div>
    {% endblock %}

{% endblock %}


{% block javascript %}
    {{ parent() }}

    <script type="text/javascript" src="{{ asset('bundles/observation/js/home.js') }}"></script>
{% endblock %}