{% extends 'ObservationBundle::layout.mobile.html.twig' %}

{# Definition des variables pour le referencement#}
{% set metadescription = "NAO l'application web d'observation des oiseaux, contribuez à la préservation de la biodiversité. Protection des oiseaux, photographie naturaliste, ornithologie" %}
{% set ogtitle = "Accueil" %}
{% set ogurl= 'https://nao.site-projet.fr' %}

{% block  title %}Accueil{% endblock %}

{% block link %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/observation/css/home.css')}}">
    <link rel="stylesheet" href="{{ asset('bundles/observation/css/gallery.css') }}">
{% endblock %}

{% block content %}
    <div id="contentHome">
        <div id="homePicture">
            <div class="text-center">
                <a href="#bienvenue" id="start" class="btn btn-start-desktop">COMMENCER L'OBSERVATION<br/>
                    <span class="glyphicon glyphicon-chevron-down
" aria-hidden="true"></span>
                </a>
            </div>
        </div>
        <div id="seconde-part" class="center-90">
            {#Zone de présentation du site #}
            <div id="bienvenue">
                <h1>Bienvenue</h1>
                <p>Bienvenue sur l'application participative de l'association Nos amis les oiseaux.<br/>Vous pourrez
                    nous faire part de vos observations sur le terrain ou approfondir vos connaissances en ornithologie
                    à l'aide de fiches détaillées sur nos amis les oiseaux</p>
                <div class="text-center">
                    <a class="btn btn-nao" href="{{ path('blog_view') }}" role="button">D&Eacute;COUVRIR L'ASSOCIATION</a>
                    <a class="btn btn-nao" href="{{ path('bird_map_list') }}" role="button">LES OISEAUX PRES DE CHEZ VOUS</a>
                </div>
            </div>
            {# Galeery des photos d'oiseaux#}
            <div id="gallery">
                <div class="row">
                    <h1 class="col-md-10 col-xs-12">Les dernières photos</h1>

                </div>
                <div id="list-gallery" class="row">
                    {% for picture in gallery %}
                        <div class="col-xs-12 col-md-3 col-lg-3">
                            <img src="{{ asset(picture.webPath) }}" alt="{{ picture.bird }}" class="img-responsive">
                        </div>
                    {% else %}
                        <p>Prochainement les dernières photos</p>
                    {% endfor %}

                    {% for picture in gallery %}
                        {%  include '@Observation/Modal/picture.html.twig' %}
                    {% endfor %}
                </div>
                <a href="{{ path('gallerie') }}" class="col-md-12 col-xs-12 text-center link-mobile">Accéder à la galerie</a>

            </div>
            {#block de saisie obs et newsletter#}
            <div id="actions" class="row">
                <div id="saisie" class="text-center col-xs-12 obs-mobile">
                    <a class="content-action " href="{{ path ('observation_add') }}"><img
                                src="{{ asset ('bundles/observation/images/icones/observation_icon.png') }}"
                                alt="observation_icon">
                        <p>
                            SAISIR UNE OBSERVATION
                        </p>
                    </a>
                </div>
                <div id="newsletter" class="col-xs-12">
                    <form method="post" action="{{ path('newsletter_subscribed') }}" class="content-action">
                        <input type="email" placeholder="Renseigner votre email" name="email" class="form-control text-center">
                        <button type="submit" class="btn btn-nao-2 btn-block">RECEVOIR LA NEWSLETTER</button>
                    </form>
                </div>
            </div>
            <div id="sociallink" class="text-center">
                <h2>SUIVEZ-NOUS</h2>
                <div class="row" id="sociallinks">
                    <div class="logo-sociaux col-md-4">
                        <a href="{{ facebook }}" class="btn btn-social-icon ">
                            <img src="{{ asset('bundles/observation/images/icones/facebook.png') }}"
                                 class="img-responsive" alt="facebook">
                        </a>
                    </div>
                    <div class="logo-sociaux col-md-4">
                        <a href="{{ instagram }}" class="btn">
                            <img src="{{ asset('bundles/observation/images/icones/instagram.jpg') }}"
                                 class="img-responsive" alt="instagram">
                        </a>
                    </div>
                    <div class="logo-sociaux col-md-4">
                        <a href="{{ twitter }}" class="btn btn-social-icon">
                            <img src="{{ asset('bundles/observation/images/icones/twitter.png') }}"
                                 class="img-responsive" alt="twitter">
                        </a>
                    </div>
                </div>

            </div>
        </div>


    </div>

{% endblock %}


{% block javascript %}
    {{ parent() }}

    <script type="text/javascript" src="{{ asset('bundles/observation/js/home.js') }}"></script>
{% endblock %}
