{% extends '@Observation/layout.desktop.html.twig' %}

{% block title %}Descritpion {{ bird.aName }}{% endblock %}

{% block content %}
    {{ bird.getFamille(app.user) }}
    <div class="row">
        {% if bird.fiche is not null %}
            <div class="col-md-4">
                {% if bird.pictures | length > 1 %}
                    <img src="{{ asset(bird.pictures[0].webPath) }}" alt="bird.pictures[0].alt">
                {% else %}
                    <p>Pas de photo</p>
                {% endif %}
                <div>
                    Estimation : {{ bird.fiche.minQuantity }} - {{ bird.fiche.maxQuantity }} couples
                </div>
                <div>
                    Status de conservation UICN:
                    {{ bird.fiche.status }}
                </div>
            </div>
            <div class="col-md-8">
                <p>
                    {{ bird.fiche.descritpion }}
                </p>
            </div>
        {% else %}
            <p class="text-center">Cet oiseau n'a pas encore de fiche descritpif</p>
        {% endif %}
    </div>
    <div class="row">
        <a href="{{ path('bird_list') }}" class="col-sm-12 text-center">Retour à la liste</a>
    </div>
    {% if bird.sound is not null %}
        <div hidden>
            <audio id="player" src="{{ asset(bird.sound.webPath) }}"></audio>
        </div>
    {% endif %}
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('bundles/observation/js/play.bird.sound.js') }}"></script>
{% endblock %}

