{% extends '@Observation/layout.desktop.html.twig' %}

{% block title %}Description {{ bird.aName }}{% endblock %}

{% block link %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/observation/css/bird.description.css') }}">
{% endblock %}

{% block content %}
    <div class="center-80" id="description">
        <h1>{{ bird.nomVern }}
            <small>-{{ bird.lbNom }}</small>
        </h1>
        <hr>
        <div class="row">
            <div class="col-md-6 left ">
                <h2>Fiche descriptive</h2>
            </div>
        </div>
        <div class="row">
            {% if bird.fiche is not null %}
                <div class="col-xs-4">
                    {% if bird.avatar is not null %}
                        <img src="{{ asset(bird.avatar.webPath) }}" class="img-responsive" alt="{{ bird.nameSearch }}">
                    {% else %}
                        <p class="text-center">Pas de photos</p>
                    {% endif %}
                    <div>
                        <strong>Estimation :</strong> {{ bird.fiche.minQuantity }} - {{ bird.fiche.maxQuantity }}
                        couples
                    </div>
                    <hr>
                    <div>
                        <strong>Status de conservation UICN:</strong>
                        {{ bird.fiche.status }}
                    </div>
                </div>
                <div class="col-xs-8">
                    <p class="text-justify">
                        {{ bird.fiche.description | rawdescr }}
                    </p>
                    {% if 'ROLE_ADMIN' in app.user.roles %}
                        <div class="row text-right">
                            <a href="{{ path('bird_edit', {'id': bird.id}) }}">Editer cette Fiche</a>
                        </div>
                    {% endif %}
                </div>


            {% else %}
                <p class="text-center">Cet oiseau n'a pas encore de fiche descritpif.
                    {% if 'ROLE_ADMIN' in app.user.roles %}
                        <a href="{{ path('bird_edit', {'id': bird.id}) }}">Editer cette Fiche</a>
                    {% endif %}
                </p>
            {% endif %}
        </div>
        <a id="retour" href="{{ path('bird_list') }}" class="col-xs-12 text-center"><span
                    class="fa fa-arrow-left"></span>
            Retour à la liste</a>

    </div>

{% endblock %}
