{% extends '@Observation/layout.desktop.html.twig' %}

{% block title %}Liste oiseaux{% endblock %}

{% block link %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/observation/css/list.bird.css') }}">
{% endblock %}
{% block content %}
    <div class="center-80">
        <a href="#" id="up"><i class="fa fa-chevron-circle-up fa-2x"></i></a>
        <div class="row">
            <div class="col-md-8">
                <h1>Liste des fiches oiseaux</h1>
            </div>
            <div class="col-md-4 center">
                <div class="form-group">
                    <label for="type">Filtrer par: </label>
                    <select name="type" id="type" class="form-control">
                        <option value="lbNom">Nom</option>
                        <option value="nomVern">Nom Vernaculaire</option>
                        <option value="bec">Type de Bec</option>
                        <option value="plumage">Type de Plumage</option>
                        <option value="couleur">Type de Couleur</option>
                    </select>
                </div>
                <input type="text" id="search" placeholder="Rechercher une fiche &#xf002;"
                       style="font-family:FontAwesome, Arial; text-align: right"
                       data-href="{{ path('bird_pagination', {'page': 1, 'type': 'lbNom'}) }}"/>


            </div>
        </div>
        <div id="birds" data-href="{{ path('bird_pagination', {'page': 1,'type': 'bec'}) }}"></div>

        <div class="row">
            <div class="col-sm-2 col-sm-offset-5 loader"></div>
        </div>

    </div>
    <a href="#" id="add-birds" class="btn grey text-center"
       data-href="{{ path('bird_pagination', {'page': 1, 'type': 'bec'}) }}"><i
                class="fa fa-long-arrow-down"></i> Voir plus d'oiseaux</a>



{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('bundles/observation/js/AJAX/Desktop/bird.list.js') }}"></script>
{% endblock %}