{% extends '@Observation/layout.desktop.html.twig' %}

{% block title %}Liste oiseaux{% endblock %}

{% block link %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/observation/css/list.bird.css') }}">
{% endblock %}
{% block content %}
    <div class="center-80">
        <a href="#" id="up"><i class="fa fa-chevron-circle-up fa-2x"></i></a>
        <div id="filter" class="row">
            <div class="col-md-3 row">
                <label for="color-plumage" class="control-label col-sm-4">Plumage</label>
                <div class="col-sm-8">
                    <select name="color-plumage" id="color-plumage" class="form-control">
                        <option value="" selected>Couleur</option>
                        <option value="blanc">Blanc</option>
                        <option value="bleu">Bleu</option>
                        <option value="gris">Gris</option>
                        <option value="jaune">Jaune</option>
                        <option value="marron">Marron</option>
                        <option value="noir">Noir</option>
                        <option value="rose">Rose</option>
                        <option value="rouge/orange">Rouge/orange</option>
                        <option value="vert">Vert</option>
                    </select>
                </div>
            </div>
            <div class="col-md-3 row">
                <label for="color-patte" class="control-label col-sm-4">Pattes</label>
                <div class="col-sm-8">
                    <select name="color-patte" id="color-patte" class="form-control">
                        <option value="" selected>Couleur</option>
                        <option value="blanc">Blanc</option>
                        <option value="bleu">Bleu</option>
                        <option value="gris">Gris</option>
                        <option value="jaune">Jaune</option>
                        <option value="marron">Marron</option>
                        <option value="noir">Noir</option>
                        <option value="rose">Rose</option>
                        <option value="rouge/orange">Rouge/orange</option>
                        <option value="vert">Vert</option>
                    </select>
                </div>
            </div>
            <div class="col-md-2 row">
                <label for="color-bec" class="control-label col-sm-4">Bec</label>
                <div class="col-sm-8">
                    <select name="color-bec" id="color-bec" class="form-control">
                        <option value="" selected>Couleur</option>
                        <option value="blanc">Blanc</option>
                        <option value="bleu">Bleu</option>
                        <option value="gris">Gris</option>
                        <option value="jaune">Jaune</option>
                        <option value="marron">Marron</option>
                        <option value="noir">Noir</option>
                        <option value="rose">Rose</option>
                        <option value="rouge/orange">Rouge/orange</option>
                        <option value="vert">Vert</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4 row">
                <label for="type-bec" class="control-label col-sm-4">Forme du bec</label>
                <div class="col-sm-8">
                    <select name="type-bec" id="type-bec" class="form-control">
                        <option value="" selected>Type</option>
                        <option value="autre">Autre</option>
                        <option value="autres becs droits">Autres becs droits</option>
                        <option value="canard">Canard</option>
                        <option value="courbé">Courbé</option>
                        <option value="crochu">Crochu</option>
                        <option value="droit et long">Droit et long</option>
                        <option value="épais et court">Épais et court</option>
                        <option value="fin et court">Fin et court</option>
                        <option value="mouette">Mouette</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <h1>Liste des fiches oiseaux</h1>
            </div>
            <div class="col-md-4">
                <input type="text" id="search" placeholder="Rechercher une fiche &#xf002;"
                       style="font-family:FontAwesome, Arial; text-align: right"
                       data-href="{{ path('bird_pagination', {'page': 1}) }}"/>
            </div>
        </div>

        <div id="birds"
             data-href="{{ path('bird_pagination', {'page': 1}) }}"></div>

        <div class="row">
            <div class="col-sm-2 col-sm-offset-5 loader"></div>
        </div>
        <a href="#" id="add-birds" class="btn grey text-center"
           data-href="{{ path('bird_pagination', {'page': 1}) }}"><i
                    class="fa fa-long-arrow-down"></i> Voir plus d'oiseaux</a>
    </div>




{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('bundles/observation/js/AJAX/Desktop/bird.list.js') }}"></script>
    <script src="{{ asset('bundles/observation/js/scroll.desktop.js') }}"></script>
{% endblock %}
