{% extends '@Observation/layout.desktop.html.twig' %}

{% block title %}{{ bird.nomVern }}{% endblock %}

{% block link %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/observation/css/list.observations.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/observation/css/bird.locations.css') }}">
{% endblock %}

{% block content %}
    <div class="center-80">
        <h1>{{ bird.nomVern }}
            <small>-{{ bird.lbNom }}</small>
        </h1>
        <hr>
        <div class="row">
            <div class="col-md-6 left ">
                <h2>Répartition géographique</h2>
                <div id="mapLocation" data-href="{{ path('observation_locations', {'id': bird.id}) }}"></div>
            </div>
            <div class="col-md-6 right">
                <h2>Dernières observations</h2>
                <div id="observations" data-href="{{ path('observation_bird_page', {'id': bird.id, 'page': 1}) }}">

                </div>
                <div class="content-loader">
                    <div class="loader"></div>
                </div>
            </div>
        </div>
        <a id="retour" href="{{ path('bird_list') }}" class="col-xs-12 text-center"><span
                    class="fa fa-arrow-left"></span>
            Retour à la liste</a>
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('bundles/observation/js/AJAX/bird.location.js') }}"></script>
    <script src="{{ asset('bundles/observation/js/Maps/location.js') }}"></script>
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?v=3&amp;key={{ google_api_key }}&callback=initMap">
    </script>

{% endblock %}
