<div id="star_detail_{{ groupStar.id }}" class="modal">
    <div class="modal-dialog">
        <div class="modal-content star-modal">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times"></i></button>
                    <div class="left ">
                        <div class="up">
                            {% if app.user in groupStar.users%}
                                {#{{ dump(groupStar.getHighest(app.user)) }}#}
                                <img src="{{ asset(groupStar.getHighest(app.user).image) }}" alt="Medaille">
                            {% else %}
                                <p>Vous n'avez pas encore déverouillez cette categorie</p>
                            {% endif %}
                        </div>
                        <div class="down">
                            {% for star in groupStar.stars | reverse %}
                                {% if app.user in star.users %}
                                    <img src="{{ asset(star.image) }}" alt="{{ star.title }}">
                                {% else %}
                                    <img src="{{ asset(groupStar.image) }}" alt="medaille">
                                {% endif %}
                            {% endfor %}
                        </div>


                    </div>
                    <div class="right">
                        {% if app.user in groupStar.users %}
                            <h4 class="text-center">{{ groupStar.getHighest(app.user).title }}</h4>
                        {% endif %}
                        <p class="text-center">
                            {{ groupStar.description }}
                        </p>
                    </div>
            </div>
        </div>
    </div>
</div>
