{% extends '@Observation/layout.html.twig' %}

{% block title %}Landing page{% endblock %}

{% block link %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/observation/css/landing.page.css') }}">
{% endblock %}

{% block body %}
    <div id="container">
        <div id="first">
            <nav class="navbar">
                <div class="center-80">
                    <div class="navbar-header">
                        <a href="{{ path('homepage') }}">
                            <img src="{{ is_mobile() ? asset('bundles/observation/images/logo/logo_landing_page_mobile.png') : asset ('bundles/observation/images/logo/logo_header_blanc.svg') }}"
                                 alt="logo du header de l'association">
                        </a>
                    </div>
                    <div class=" pull-right ">
                        <ul class="navbar-nav {{ is_mobile() ? 'list-inline' : ' nav ' }}">
                            <li class="logo-sociaux first_line">
                                <a href="{{ facebook }}" class="social-network"><i class="fa fa-facebook-f"></i></a>
                            </li>
                            <li class="logo-sociaux first_line">
                                <a href="{{ instagram }}" class="social-network"><i class="fa fa-instagram"></i></a>
                            </li>
                            <li class="logo-sociaux first_line">
                                <a href="{{ twitter }}" class="social-network"><i class="fa fa-twitter"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <h1 id="welcome-title" class="text-center">PARTICIPER &Aacute; LA GRANDE CAMPAGNE NATIONALE D'OBSERVATION
                DES OISEAUX</h1>
            <div id="content-aleatory">
                {% if form is defined %}
                    <h1 id="form-title" class="text-center">Je m'inscris</h1>
                    {{ form_start(form) }}
                    {{ form_errors(form) }}
                    <div class="{{ is_mobile() ? '' : 'center-80' }}">
                        <div class="form-group">
                            {{ form_label(form.username) }}
                            {{ form_widget(form.username) }}
                            {{ form_errors(form.username) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.email) }}
                            {{ form_widget(form.email) }}
                            {{ form_errors(form.email) }}
                        </div>
                        {% for password in form.plainPassword.children %}
                            <div class="form-group">
                                {{ form_label(password) }}
                                {{ form_widget(password) }}
                                {{ form_errors(password) }}
                            </div>
                        {% endfor %}
                        {{ form_widget(form.save) }}
                    </div>
                    {{ form_end(form) }}
                {% else %}
                    <p>Texte à mettre ici.</p>
                {% endif %}
            </div>
        </div>
        <div id="bottom-pictures" class="center-80">
            <div id="img-left" class="text-center" >
                <img src="{{ asset('bundles/observation/images/Visuels/mobileMockup.png') }}"alt="">
            </div>
            <h1 id="explain-title" class="text-center">Comment ca marche</h1>
            <div id="img-right" class="text-center">
                <img src="{{ asset('bundles/observation/images/Visuels/desktopMockup.png') }}"  alt="">
            </div>
        </div>
        <div class="row {{ is_mobile() ? 'center-90' : 'center-80' }}">
            <div class="col-md-4">
                <h2>Une interface intuitive disponible sur mobile et ordinateur</h2>
                <p class="blue"></p>
            </div>
            <div class="col-md-4">
                <h2>Je ne connais pas l'ornitologie...<br>
                    Nous vous guidons</h2>
                <p class="blue"></p>
            </div>
            <div class="col-md-4">
                <h2>Je participe à des challenges et j'invite mes amis à participer</h2>
                <p class="blue"></p>
            </div>
        </div>
    </div>

{% endblock %}