{% extends '@Observation/layout.html.twig' %}

{% block title %}Landing page{% endblock %}

{% block link %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/observation/css/landing.page.css') }}">
{% endblock %}

{% block body %}
    <div id="container">
        <div id="first">
            <nav class="navbar">
                <div class="center-80">
                    <div class="navbar-header">
                        <a href="{{ path('homepage') }}">
                            <img src="{{ is_mobile() ? asset('bundles/observation/images/logo/logo_landing_page_mobile.png') : asset ('bundles/observation/images/logo/logo_header_blanc.svg') }}"
                                 alt="logo du header de l'association">
                        </a>
                    </div>
                    <div class=" pull-right ">
                        <ul class="navbar-nav {{ is_mobile() ? 'list-inline' : ' nav ' }}">
                            <li class="logo-sociaux first_line">
                                <a href="{{ facebook }}" class="social-network"><i class="fa fa-facebook-f"></i></a>
                            </li>
                            <li class="logo-sociaux first_line">
                                <a href="{{ instagram }}" class="social-network"><i class="fa fa-instagram"></i></a>
                            </li>
                            <li class="logo-sociaux first_line">
                                <a href="{{ twitter }}" class="social-network"><i class="fa fa-twitter"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <h1 id="welcome-title" class="text-center">PARTICIPEZ &Aacute; LA GRANDE CAMPAGNE NATIONALE D'OBSERVATION
                DES OISEAUX</h1>
            <div id="content-aleatory">
                {% if form is defined %}
                    <h2 id="form-title" class="text-center">Je m'inscris</h2>
                    {{ form_start(form) }}
                    {{ form_errors(form) }}
                    <div class="{{ is_mobile() ? '' : 'center-80' }}">
                        <div class="form-group">
                            {{ form_label(form.username) }}
                            {{ form_widget(form.username) }}
                            {{ form_errors(form.username) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.email) }}
                            {{ form_widget(form.email) }}
                            {{ form_errors(form.email) }}
                        </div>
                        {% for password in form.plainPassword.children %}
                            <div class="form-group">
                                {{ form_label(password) }}
                                {{ form_widget(password) }}
                                {{ form_errors(password) }}
                            </div>
                        {% endfor %}
                        {{ form_widget(form.save) }}
                    </div>
                    {{ form_end(form) }}
                {% else %}
                    <ul>
                        <li>Contribuez à la protection des oiseaux</li>
                        <li>Aidez-nous à mesurer l'impact de l'urbanisation sur la biodiversité</li>
                        <li>Rejoignez une communauté de professionnels et d'amateurs</li>
                    </ul>
                    <a href="{{ path('homepage') }}" class="btn-nao btn">Je veux en savoir plus</a>
                {% endif %}
            </div>
        </div>
        <div id="bottom-pictures" class="center-80">
            <div id="img-left" class="text-center" >
                <img src="{{ asset('bundles/observation/images/Visuels/mobileMockup.png') }}"alt="">
            </div>
            <h2 id="explain-title" class="text-center">Comment ca marche</h2>
            <div id="img-right" class="text-center">
                <img src="{{ asset('bundles/observation/images/Visuels/desktopMockup.png') }}"  alt="">
            </div>
        </div>
        <div class="row {{ is_mobile() ? 'center-90' : 'center-80' }}">
            <div class="col-md-4">
                <h2><i class="fa fa-phone"></i> Une interface intuitive disponible sur mobile et ordinateur</h2>
                <ul class="blue">
                    <li>Une application reconnue par sa simplicité d'utilisation</li>
                    <li>Géolocalisation et ajout de photographies en 2 clics</li>
                    <li>Saisie en temps réel sur le terrain ou en différé depuis chez vous</li>
                    <li>Des tutos pour vous accompagner dans la prise en main</li>
                </ul>
            </div>
            <div class="col-md-4">
                <h2><i class="fa fa-search"></i> Je ne connais pas l'ornithologie...<br>
                    Nous vous guidons</h2>
                <ul class="blue">
                    <li>Des fiches descriptives illustrées</li>
                    <li>+ de 3500 espèces réfèrencés</li>
                    <li>Un module innovant d'aide à l'identification grâce à des filtres</li>
                </ul>
            </div>
            <div class="col-md-4">
                <h2><i class="fa fa-bulhorn"></i> Je participe à des challenges et j'invite mes amis à participer</h2>
                <ul class="blue">
                    <li>Débloquez différents niveaux de gratifications en fonction de votre activité</li>
                    <li>Développez vos connaissances grâce à des quizz</li>
                    <li>Invité vos amis à rejoindre la communauté des observations</li>
                    <li>Tentez de gagner un séjour pour 2 personnes dans un parc régional de votre choix<</li>
                </ul>
            </div>
        </div>
    </div>

{% endblock %}