{% extends '@Observation/layout.mobile.html.twig' %}

{# Definition des variables pour le referencement#}
{% set metadescription = "Découvrez les espèces d'oiseaux observées dans l'étude ornithologique conduite par NAO. l'application web d'observation des oiseaux, contribuez à la préservation de la biodiversité. Protection des oiseaux, photographie naturaliste, ornithologie" %}
{% set ogtitle = "Liste des oiseaux" %}
{% set ogurl= url('bird_list') %}

{% block title %}Liste des oiseaux{% endblock %}
{% block link %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/observation/css/list.bird.css') }}">
{% endblock %}
{% block content %}
    <div class="center-90">
        {#<div id="up">#}
        <a href="#" id="up"><i class="fa fa-chevron-circle-up fa-2x"></i></a>
        {#</div>#}
        <div>
            <h1>Liste des oiseaux </h1>
            <div>
                <a id="action-filter" data-id="filter" class="btn btn-nao">Filter Rechercher <span class="caret"></span></a>
            </div>
            <div id="filter" class="tab-pane" hidden>
                <div class="row">
                    <label for="color-plumage" class="control-label col-sm-4">plumage</label>
                    <div class="col-sm-8">
                        <select name="color-plumage" id="color-plumage" class="form-control">
                            <option value="" selected>Couleur</option>
                            <option value="blanc">Blanc</option>
                            <option value="bleu">Bleu</option>
                            <option value="gris">Gris</option>
                            <option value="jaune">Jaune</option>
                            <option value="marron">marron</option>
                            <option value="noir">Noir</option>
                            <option value="rose">Rose</option>
                            <option value="rouge/orange">Rouge/orange</option>
                            <option value="vert">Vert</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <label for="color-patte" class="control-label col-sm-4">pattes</label>
                    <div class="col-sm-8">
                        <select name="color-patte" id="color-patte" class="form-control">
                            <option value="" selected>Couleur</option>
                            <option value="blanc">Blanc</option>
                            <option value="bleu">Bleu</option>
                            <option value="gris">Gris</option>
                            <option value="jaune">Jaune</option>
                            <option value="marron">marron</option>
                            <option value="noir">Noir</option>
                            <option value="rose">Rose</option>
                            <option value="rouge/orange">Rouge/orange</option>
                            <option value="vert">Vert</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <label for="color-bec" class="control-label col-sm-4">bec</label>
                    <div class="col-sm-8">
                        <select name="color-bec" id="color-bec" class="form-control">
                            <option value="" selected>Type</option>
                            <option value="canard">Canard</option>
                            <option value="courbé">Courbé</option>
                            <option value="crochu">Crochu</option>
                            <option value="droit et long">Droit et long</option>
                            <option value="fin et court">Fin et court</option>
                            <option value="mouette">Mouette</option>
                            <option value="épais et court">Épais et court</option>
                            <option value="autres becs droits">Autres becs droits</option>
                            <option value="autre">Autre</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <input type="text" id="search" placeholder="Rechercher une fiche &#xf002;"
                               style="font-family:FontAwesome, Arial; text-align: right;"
                               data-href="{{ path('bird_pagination', {'page': 1}) }}"/>
                    </div>
                </div>
            </div>
        </div>

        <div id="listing">
            <div id="birds" class="content container"
                 data-href="{{ path('bird_pagination', {'page': 1}) }}"></div>


            <div class="row" id="content-loader">
                <div class="col-xs-2 col-xs-offset-5 loader"></div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('bundles/observation/js/AJAX/Mobile/bird.list.js') }}"></script>
{% endblock %}
