{% extends '@Observation/layout.mobile.html.twig' %}

{% block title %}Liste des oiseaux{% endblock %}
{% block link %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/observation/css/list.bird.css') }}">
{% endblock %}
{% block content %}
    <div class="center-90">
        {#<div id="up">#}
        <a href="#" id="up"><i class="fa fa-chevron-circle-up fa-2x"></i></a>
        {#</div>#}
        <div>
            <h1>Liste des oiseaux </h1>
            <input type="text" id="search" placeholder="Rechercher une fiche &#xf002;"
                   style="font-family:FontAwesome, Arial" data-href="{{ path('bird_pagination', {'page': 1, 'type': 'bec'}) }}">
        </div>

        <div id="listing">
            <div id="birds" class="content container" data-href="{{ path('bird_pagination', {'page': 1, 'type': 'bec'}) }}"></div>

            <div class="row" id="content-loader">
                <div class="col-xs-2 col-xs-offset-5 loader"></div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('bundles/observation/js/AJAX/Mobile/bird.list.js') }}"></script>
{% endblock %}