{% if birds is null %}
    <div>
        Il n'y a aucun oiseaux.
    </div>
{% else %}
    {% for bird in birds %}
        <div class="bird" data-href="{{ path('bird_description', {'id': bird.id}) }}">
            <div class="left">
                {% if bird.avatar is not null %}
                    <img src="{{ bird.avatar.webPath }}" class="img-responsive" alt="{{ bird }}">
                {% else %}
                    Pas de photos
                {% endif %}
            </div>

            <div class="right">
                <h4>{{ bird.nomVern != null ? bird.nomVern : bird.lbNom}}</h4>
                <small>{{ bird.lbNom }} {{ bird.id }}</small>
            </div>

        </div>
    {% endfor %}
    {#</div>#}
    <div class="length" data-length="{{ birds| length }}" hidden>

    </div>
{% endif %}
