{% extends 'ObservationBundle::layout.desktop.html.twig' %}
{% block  title %}Accueil{% endblock %}

{% block link %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/observation/css/home.css') }}">
{% endblock %}

{% block body %}

    {# Incorporation de la bar de navigation desktop et des messages flashs #}
    {% include '@Observation/Default/Navbar/Desktop/navbar.html.twig' %}
    {% include 'ObservationBundle:Default:flash.message.html.twig' %}
    {# block content qui sera remplit au besion sur chaque page#}

    {# Block affichant une pĥoto sur toute la fenetre et son bouton permettant de descendre sur le bas de page#}
    <div id="homePicture">
        <div class="text-center">
            <button id="start" type="button" class="btn ">COMMENCER L'OBSERVATION<br/>
                <span class="glyphicon glyphicon-chevron-down
" aria-hidden="true"></span>
            </button>
        </div>
    </div>

    <div id="contentHome" class="container">

    {% block content %}

    {#Zone de présentation du site #}
        <div id="bienvenue">
            <h1>Bienvenue</h1>
            <p>Bienvenue sur l'application participative de L'association Nos amis les oiseaux.<br/>Vous pourrez
                nous faire part de vos observations sur le terrain ou approfondir vos connaissances en ornithologie
                à l'aide de fiches détaillés sur nos amis les oiseaux</p>
            <div class="text-center">
                <a class="btn btn-round-lg btn-lg" href="#" role="button">DECOUVRIR L'ASSOCIATION</a>
            </div>
        </div>
    {# Galeery des photos d'oiseaux#}
        <div id="gallery">
            <div class="row">
                <h1 class="col-md-10 col-xs-12">Les dernières photos</h1>
                <a href="#" class="col-md-2 col-xs-12 text-center">accéder à la gallerie</a>
            </div>
            <div class="col-md-12  col-xs-10 text-center">
                {% for picture in gallery %}
                    <img src="{{ asset('uploads/images/bird/' ~picture.url) }}" class="img-thumbnail"
                         style="min-width: 250px; min-height: 200px; width: 250px; height: 200px;">
                {% else %}
                    <p>Prochainement les dernières photos</p>
                {% endfor %}
            </div>

        </div>
        {#block de saisie obs et newsletter#}
        <div id="actions" class="row">
            <div id="saisie" class="text-center col-xs-12 col-md-6">
                <a href="{{ path ('observation_add') }}"><img
                            src="{{ asset ('bundles/observation/images/icones/observation_icon.png') }}"
                            alt="observation_icon">
                    <p>
                        SAISIR UNE OBSERVATION
                    </p>
                </a>
            </div>
            <div id="newsletter" class="col-xs-12 col-md-6">
                <input type="text" placeholder="Renseigner votre email" class="form-control text-center">
                <button type="submit" class="btn btn-primary btn-lg btn-block">RECEVOIR LA NEWSLETTER</button>
            </div>
        </div>

        </div>
    {% endblock %}
    {% include 'ObservationBundle:Default:footer.html.twig' %}
{% endblock %}


{% block javascript %}
    {{ parent() }}

    <script type="text/javascript" src="{{ asset('bundles/observation/js/home.js') }}"></script>
{% endblock %}