{# Vue générale #}
<!doctype html>
<html prefix="og: http://ogp.me/ns#">
<head>
    <meta charset="UTF-8">
    <meta lang="fr-FR">
    <meta name="keywords" content="Observation oiseaux, ornithologie, photo naturalise, photographie animalière, randonnée, parcs naturels, biodiversité, oiseaux des jardins, oiseaux protégés, protection des oiseaux, classe avès">
    <meta name="description" content="{{ metadescription }}">
    <meta name="author" content="Nos Amis les Oiseaux" >
    <meta property="og:title" content="NAO-{{ ogtitle }}-l'appli web d'observation des oiseaux">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ ogurl }}">
    <meta property="og:image" content="{{ absolute_url(asset('bundles/observation/images/logo/logo_footer_couleur.png')) }}">
    <meta property="og:image:url" content="{{ absolute_url(asset('bundles/observation/images/logo/logo_footer_couleur.png')) }}">
    <meta property="fb:app_id" content="{{ facebook_id }}">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block metadat %}
    {% endblock %}
    {# Création des block title, link(liens cdn de fichier css), stylesheets( contenant les balises style) #}
    <title>{% block title %}Nos amis les oiseaux{% endblock %}</title>
    {% block link %}{% include 'ObservationBundle:Default:link.html.twig' %}{% endblock %}
    {% block stylesheet %}{% include 'ObservationBundle:Default:stylesheet.html.twig' %}{% endblock %}
</head>
<body>
{% block body %}
{% endblock %}
{# Zone d'appel des cdn Jquery bootstrap #}
{% block javascript %}
    {% include 'ObservationBundle:Default:javasrcipt.html.twig' %}
{% endblock %}
</body>
</html>


