{# Navbar sur pc #}
<nav class="navbar navbar-light {{ app.request.get('_route') == 'homepage' ? 'navbar-fixed-top navbar-transparent' : '' }} navbar-general"
     role="navigation">
    <div id="first">
        <div class="center-80">
            {#  Block title navbar #}
            <div class="navbar-header">
                <a href="{{ path('homepage') }}">
                    <img src="{{ asset ('bundles/observation/images/logo/logo_header_blanc.svg') }}"
                         alt="logo du header de l'association">
                </a>
            </div>
            {# Liste des menus principaux avec vérification de la route pour activé dynamiquement la navbar à l'aide de app.request.get('_route') #}
            <div>
                <ul class="navbar-nav nav pull-right capital">
                    <li id="home" class="{{  app.request.attributes.get('_route') == 'homepage' ? 'active always-active' : '' }} first_line">
                        <a href="{{ path('homepage') }}">
                            Accueil
                        </a>
                    </li>
                    <li class="{{ app.request.attributes.get('_route') == 'observation_add' ? 'active always-active' : '' }} first_line">
                        <a href="{{ path('observation_add') }}">
                            Observation
                        </a>
                    </li>
                    {% if app.request.attributes.get('_route') in ['bird_list','bird_description', 'bird_location'] %}
                        <li class=" tabs active always-active first_line">
                            <a href="#bird" data-toggle="tab" data-navbar="true" data-hide="#bird">
                                Fiches oiseaux
                            </a>
                        </li>
                    {% else %}
                        <li class="{{ app.request.attributes.get('_route') == 'bird_list' ? 'active' : '' }} first_line">
                            <a href="{{ path('bird_list') }}">
                                Fiches oiseaux
                            </a>
                        </li>
                    {% endif %}
                    {% if app.user %}
                            <li class="tabs first_line {% if app.request.attributes.get('_route')  starts with 'user' %}active always-active{% endif %}">
                                <a href="#user" data-toggle="tab" data-navbar="true" data-hide="#user">
                                    Compte
                                </a>
                            </li>
                    {% else %}
                        <li id="ident-li" class="first_line {{   app.request.attributes.get('_route') == 'user_connect' ? 'active always-active' : '' }}">
                            <a id="ident-a" href="{{ path('user_connect') }}">
                                Connexion/Inscription
                            </a>
                        </li>
                    {% endif %}
                    <li id="information" class="tabs first_line {% if app.request.attributes.get('_route') in ['contact_message', 'faq', 'blog_view'] %}active always-active{% endif %}">
                        <a id="test" href="#other" data-toggle="tab" data-navbar="true" data-hide="#other">Information</a>
                    </li>
                    <li class="logo-sociaux first_line">
                        <a href="{{ facebook }}" class="social-network"><i class="fa fa-facebook-f"></i></a></li>
                    <li class="logo-sociaux first_line">
                        <a href="{{ instagram }}" class="social-network"><i class="fa fa-instagram"></i></a></li>
                    <li class="logo-sociaux first_line">
                        <a href="{{ twitter }}" class="social-network"><i class="fa fa-twitter"></i></a>
                    </li>
                    {% if app.user %}
                        <li class="first_line"><a href="{{ path('user_logout') }}"><i class="fa fa-sign-out "></i></a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>

    </div>
    {# Bloc contenant les sous-menus #}
    <div class="tab-content container">
        {# Inclusion du sous menu d'un oiseau si la variable bird est définie#}
        {% if bird  is defined %}
            {% include '@Observation/Default/Navbar/Desktop/bird.sub.navbar.html.twig' with {'bird': bird} %}
        {% endif %}
        {# Inclusion du sous-menu user si le visiteur est connecter #}
        {% if app.user %}
            {% include '@Observation/Default/Navbar/Desktop/user.sub.navbar.html.twig' %}
        {% endif %}
        {% include '@Observation/Default/Navbar/Desktop/other.sub.navbar.html.twig' %}
    </div>
</nav>
