<div id="user"
     class="tab-pane center-80 {% if app.request.attributes.get('_route')  in ['user_profil', 'user_my_observations', 'user_observations', 'user_stars', 'user_users', 'user_roles'] %}active always-active{% endif %}">
    <ul class=" nav navbar-nav pull-right">
        <li class="second_line {{ app.request.attributes.get('_route')  == 'user_profil' ? 'active always-active' : '' }}"><a
                    href="{{ path('user_profil') }}" data-hide="#user">Profil</a></li>
        <li class="second_line {{ app.request.attributes.get('_route')  == 'user_my_observations' ? 'active always-active' : '' }}">
            <a href="{{ path('user_my_observations') }}" data-hide="#user">Mes Observations</a></li>
        {% if 'ROLE_NATURALISTE' in app.user.roles %}
            <li class="second_line {{ app.request.attributes.get('_route')  == 'user_observations' ? 'active always-active' : '' }}">
                <a href="{{ path('user_observations') }}" data-hide="#user">Validations</a></li>
        {% else %}
            <li class="second_line {{ app.request.attributes.get('_route')  == 'user_stars' ? 'active always-active' : '' }}"><a
                        href="{{ path('user_stars') }}" data-hide="#user">Recompenses</a></li>
        {% endif %}
        {% if 'ROLE_ADMIN' in app.user.roles %}
            <li class="second_line {{ app.request.attributes.get('_route') == 'user_users' ? 'active always-active' : '' }}"><a
                        href="{{ path('user_users') }}" data-hide="#user">Liste des visiteurs</a></li>
            <li class="second_line {{ app.request.attributes.get('_route') == 'user_contacts' ? 'active always-active' : '' }}"><a
                        href="{{ path('user_contacts') }}" data-hide="#user">Les messages</a></li>
        {% endif %}
    </ul>
</div>
