<footer>
    <div class="container">
        <div class="center-80">
            <div class="row">
                <div class="col-sm-3 border-right">
                    <a href="{{ path('homepage') }}">
                        <img src="{{ asset ('bundles/observation/images/logo/logo_footer_couleur.png') }}"
                             class="img-responsive" alt="logo_footer">
                    </a>
                </div>
                <div class="col-sm-3 border-right">
                    <ul class="list-unstyled capital ">
                        <li {% if app.request.attributes.get('_route')  == 'homepage' %}class="active"{% endif %}><a
                                    href="{{ path('homepage') }}">Accueil</a></li>
                        <li {% if app.request.attributes.get('_route')  == 'observation_add' %}class="active"{% endif %}>
                            <a href="{{ path('observation_add') }}"><i class="fa fa-plus"></i> Observation</a></li>
                        {% if app.user %}
                            <li {% if app.request.attributes.get('_route')  == 'user_profil' %}class="active"{% endif %}>
                                <a href="{{ path('user_profil') }}">Mon compte</a>
                            </li>
                        {% else %}
                            <li {% if app.request.attributes.get('_route')  == 'user_connect' %}class="active"{% endif %}>
                                <a href="{{ path('user_connect') }}">Connection/Inscription</a>
                            </li>
                        {% endif %}
                        <li {% if app.request.attributes.get('_route') starts with 'bird' %}class="active"{% endif %}>
                            <a href="{{ path('bird_list') }}">Fiches Oiseaux</a></li>
                        <li class="{{ app.request.attributes.get('_route') == 'blog_view' ? 'active' : '' }}"><a
                                    href="{{ path('blog_view') }}">L'association</a></li>
                        <li class="{{ app.request.attributes.get('_route') == 'asso_mention_legal' }}"><a
                                    href="{{ path('asso_mention_legal', {'page': 'mentions-legales'}) }}">Mentions
                                légales</a></li>
                    </ul>
                </div>
                <div id="footer-actions" class="col-sm-6">
                        <div id="footer-newsletter">
                            <form action="{{ path('newsletter_subscribed') }}" method="post">
                                <label for="newsletter">Recevoir les actualités de l'étude</label>
                                <div class="input-group">
                                    <input type="email" name="email" id="email" class="form-control">
                                    <span class="input-group-btn">
                                    <button class="btn btn-nao" type="submit">s'inscrire</button>
                                </span>
                                </div>
                            </form>
                        </div>
                        <div id="footer-social">
                            <a href="{{ facebook }}" class="social-network"><i class="fa fa-facebook-f fa-2x"></i></a>
                            <a href="{{ instagram }}" class="social-network"><i class="fa fa-instagram fa-2x"></i></a>
                            <a href="{{ twitter }}" class="social-network"><i class="fa fa-twitter fa-2x"></i></a>
                        </div>
                </div>

            </div>

        </div>
    </div>
    </div>
</footer>
