{# Navbar sur mobile #}
<nav class="navbar navbar-light navbar-fixed-bottom" style="background-color: #e3f2fd;" role="navigation">
    {# contenu des sous-menus #}
    <div class="tab-content container-fluid">
        <div id="bird" class="tab-pane">
            <ul class="list-inline">
                <li><a href="{{ path('bird_list') }}">Oiseaux</a></li>
                <li><a href="{{ path('observation_list') }}">Observations</a></li>
                <li><a href="{{ path('observation_add') }}"><i class="glyphicon glyphicon-plus"></i> observation</a>
                </li>
            </ul>
        </div>
        <div id="nao" class="tab-pane">
            <ul class="list-inline">
                <li><a href="{{ path('observation_asso') }}">L'asso</a></li>
                <li><a href="facebook.com"><img src="{{ asset('bundles/observation/images/icones/facebook.png') }}"
                                                alt="facebook-logo" class="icon"></a></li>
                <li><a href="twitter.com"><img src="{{ asset('bundles/observation/images/icones/twitter.png') }}"
                                               alt="twitter-logo" class="icon"></a></li>
                <li><a href="instagram.com"><img
                                src="{{ asset('bundles/observation/images/icones/instagram.jpg') }}"
                                alt="instagram-logo" class="icon"></a></li>
            </ul>
        </div>
        <div id="user" class="tab-pane ">
            <ul class="list-inline">
                {% if app.user %}
                    <li><a href="{{ path('user_profil') }}"><i class="glyphicon glyphicon-user"></i> Profil</a></li>
                    <li><a href="{{ path('user_logout') }}"><i class="glyphicon glyphicon-log-out"></i> Se
                            deconnecter</a></li>
                {% else %}
                    <li><a href="{{ path('user_login') }}"><i class="glyphicon glyphicon-log-in"></i> Se
                            connecter</a></li>
                    <li><a href="{{ path('user_registration') }}">S'inscrire</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
    {# Liste des menus #}
    <div class="container-fluid">
        <ul class="navbar-nav nav nav-tabs">
            <li class="tabs"><a href="#bird" data-toggle="tab">Les oiseaux</a></li>
            <li class="tabs"><a href="#nao" data-toggle="tab">L'association</a></li>
            <li class="tabs"><a href="#user" data-toggle="tab">Compte</a></li>
        </ul>
    </div>
</nav>