{# Vue d'un chagement de mot de passe sur pc #}
{% extends 'ObservationBundle::layout.desktop.html.twig' %}

{% block title %}Changement mot de passe{% endblock %}

{% block content%}
    <div class="panel panel-default">
        <div class="panel-header">
            <h1>Modification du mot de passe</h1>
        </div>
        <div class="panel-body">
            {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
            {{ form_errors(form) }}
                <div class="form-group">
                    {{ form_label(form.oldPassword, form.oldPassword.vars.label, {'label_attr': {'class': 'col-md-3 control-label'}}) }}
                    <div class="col-md-5">
                        {{ form_widget(form.oldPassword, {'attr':{'class': 'form-control'}}) }}
                    </div>
                    {{ form_errors(form.oldPassword) }}
                </div>
            {# boucle sur les deux champs de plainPassword #}
            {% for password in form.plainPassword %}
                <div class="form-group">
                    {{ form_label(password, password.vars.label, {'label_attr': {'class': 'col-md-3 control-label'}}) }}
                    <div class="col-md-5">
                        {{ form_widget(password, {'attr':{'class': 'form-control'}}) }}
                    </div>
                    {{ form_errors(password) }}
                </div>
            {% endfor %}
            {# Affichage du bouton valide au milieu #}
            <div class="text-center">
                {{ form_widget(form.save) }}
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}