{% extends '@Observation/layout.desktop.html.twig' %}

{% block title %}Liste des messages{% endblock %}

{% block link %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/observation/css/list.contact.css') }}">
{% endblock %}

{% block content %}
    <div class="center-80">
        <div id="success-message">

        </div>
        <div id="messages" data-href="{{ path('contact_refresh') }}">
            {% include '@Observation/Association/Desktop/messages.html.twig' with {'messages': messages} %}
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('bundles/observation/js/AJAX/Desktop/contact.js') }}"></script>
{% endblock %}
