{# Vue du profil sur pc #}
{% extends 'ObservationBundle::layout.desktop.html.twig' %}

{% block title %}Profil de {{ app.user.username }}{% endblock %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h1>{{ app.user.username }}</h1>
        </div>
        <div class="panel-body">
            <table >
                {{ form_start(form) }}
                {{ form_errors(form) }}
                {# boucle sur les differents champs hors bouton save et le token #}
                {% for child in form.children if child.vars.name != 'save' and child.vars.name != '_token' %}
                    <tr class="row">
                        {# Colone d'affichage du label (nom, prénom, ...) #}
                        <td class="col-md-3">{{ child.vars.label }}</td>
                        {# Colone affichant soit la valeur d'un champ soit l'input correspondant, si le champ a des erreurs après une validation, il est affiché #}
                        <td class="col-md-8">
                            <div id="view_{{ child.vars.id }}" class="views" {% if child.vars.errors.count != 0 %}hidden{% endif %}>
                                {# On verifie s'il sagit du champ birthDate et affiche un message si elle n'est pas renseigne #}
                                {% if child.vars.name == 'birthDate' %}
                                {% if child.vars.value.day is not empty %}
                                    {{ child.vars.value.day }}/{{ child.vars.value.month }}/{{ child.vars.value.year }}
                                {% else %}
                                    Renseigné votre date de naissance
                                {% endif %}
                                {% else %}
                                    {# affichage des autres valeurs #}
                                    {{ child.vars.value }}
                                {% endif %}
                            </div>
                            {# Zones des champs #}
                            <div id="edit_{{ child.vars.id }}" class="edits" {% if child.vars.errors.count == 0 %}hidden{% endif %}>
                                {{ form_widget(child) }}
                                {# Bouttons pour enregistrer ou annuler #}
                                <button type="submit" class="btn btn-xs btn-primary">Enregistrer</button>
                                <button class="btn btn-xs btn-success cancel">Annulé</button>
                            </div>
                        </td>
                        {# Colone permettant d'édité un champ #}
                        <td class="col-md-1"><a href="#" class="edit_button btn btn-xs btn-info" id="{{ child.vars.id }}"><i class="glyphicon glyphicon-edit"></i></a></td>
                    </tr>
                {% endfor %}
                {# insertion du token du form #}
                {{ form_widget(form._token) }}
                {# fermeture du form sans afficher le rest( bouton de validation #}
                {{ form_end(form, {'render_rest': false})}}
                {# ligne pour le mot de passe qui renvoie vers la page de changement de mot de passe #}
                <tr class="row">
                    <td class="col-md-11" colspan="2">
                        Mot de passe
                    </td>
                    <td class="col-md-1"><a href="{{ path('user_change_password') }}" class="btn btn-xs btn-info"><i class="glyphicon glyphicon-pencil"></i></a></td>
                </tr>
            </table>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/observation/js/edit.profil.user.js') }}"></script>
{% endblock %}