{% if observations is null %}
   {% include 'ObservationBundle:Observation:no.observations.html.twig' %}
{% else %}
    {% for observation in observations %}
        <div class="observation" data-href="{{ path('observation_view', {'id': observation.id}) }}">
            <ul class="list-inline">
                <li class="col-xs-12"><small>Observateur :</small>{{ observation.user.username }}</li>
                <li class="text-center col-xs-4 right-border">
                    <small>
                        Date d'observation
                    </small><br>
                    {{ observation.postedAt | date('d/m/Y') }}
                </li>
                <li class="text-center col-xs-4 right-border">
                    <small>Specimens observés</small><br>
                    {{ observation.quantity }}
                </li>
                <li class="text-center col-xs-4">
                    <small>Specimens observés</small><br>
                    {{ observation.quantity }}
                </li>
            </ul>
        </div>
    {% endfor %}
    {% if nbPage > 1 %}
        <div class="text-center">
            <ul class="list-inline">
                {% if page > 1 %}
                    <li><a href="#" class="page-link" data-href="{{ path('observation_bird_page', {'id': bird.id, 'page': page - 1 }) }}"><i class="fa fa-arrow-left"></i></a></li>
                {% endif %}
                {% for i in range(1, nbPage) %}
                    <li><a href="#" class="page-link" data-href="{{ path('observation_bird_page', {'id': bird.id, 'page': i}) }}"><i class="fa fa-{{ page == i ? 'circle' : 'circle-o' }}"></i></a></li>
                {% endfor %}
                {% if page < nbPage %}
                    <li><a href="#" class="page-link" data-href="{{ path('observation_bird_page', {'id': bird.id, 'page': page + 1 }) }}"><i class="fa fa-arrow-right"></i></a></li>
                {% endif %}
            </ul>
        </div>
    {% endif %}
{% endif %}