{% extends '@Observation/layout.mobile.html.twig' %}

{% block link %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/observation/css/connect.css') }}">
{% endblock %}
{% block title %}Inscription{% endblock %}

{% block content %}
    <div id="fb-root"></div>
    {# Zone d'identification avec google ou facebook #}
    <div id="oauth" class="text-center">
        <h4>connectez vous avec :</h4>
        <div class="row">
            <div class="col-xs-4 col-xs-push-2">
                <a href="#" onclick="fb_login();" class="btn btn-blue ">Facebook</a>
            </div>
            <div class="col-xs-4 col-xs-push-2">
                <a href="{{ path('hwi_oauth_service_redirect', {'service': 'google'}) }}" class="btn btn-red">Google</a>
            </div>
        </div>
    </div>
    <div class="center-90">
        {#
            Toggle switch permettant de choisir entre inscription ou connection
        #}
        <label class="switch"><input type="checkbox" id="choice">
            <div class="slider"><span class="on">Se connecter</span><span class="off">S'incrire</span></div>
        </label>
        {#<label>Connection </label>#}
        {#<label class="switch" for="choice">#}
        {#<input type="checkbox" id="choice">#}
        {#<div class="slider"></div>#}
        {#</label><label> Inscription</label>#}
        {# Zone de connection #}
        <div id="login">
            <h1>Connexion</h1>
            <form action="{{ path('user_connect') }}" method="post">
                {% if error %}
                    <div class="alert alert-danger">
                        {{ error.messageKey| trans(error.messageData, 'security') }}
                    </div>
                {% endif %}
                <label for="username" class="control-label">Identifiant ou mot de passe</label>
                <input type="text" name="_username" id="username" class="form-control"
                       placeholder="Identifiant ou Email">
                <label for="password" class="control-label">Mot de passe</label>
                <input type="password" name="_password" id="password" class="form-control" placeholder="Mot de passe">
                <a id="forget-link" href="{{ path('user_forgot_password') }}" class="col-md-6">Mot de passe oublié</a>
                <label id="remember-label" for="remember_me"><input type="checkbox" name="_remember_me"
                                                                    id="remember_me"> Se
                    souvenir de moi</label><br>
                <small>* Champs obligatoire</small>
                <div class="text-center">
                    <button type="submit" class="btn btn-nao">Se connecter</button>
                </div>
            </form>
        </div>
        <div id="registration" hidden="hidden">
            <h1>Inscription</h1>
            {# Zone d'inscription #}
            {{ form_start(form) }}
            {{ form_errors(form) }}
            {# Boucle sur les champs du form à l'exception du save et _token #}
            {% for child in form.children if child.vars.name != 'save' and child.vars.name != '_token' %}
                <div class="form-group">
                    {# Gestion des champs plainPassword#}
                    {% if child.vars.name == 'plainPassword' %}
                        {% for password in child.children %}
                            {{ form_label(password) }}
                            {{ form_widget(password, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(password) }}
                        {% endfor %}
                    {% else %}
                        {{ form_label(child) }}
                        {{ form_widget(child, {'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(child) }}
                    {% endif %}
                </div>

            {% endfor %}
            <small>* Champs obligatoire</small>
            {# Affichage du bouton d'Enregistrement #}
            {{ form_widget(form.save) }}
            {{ form_end(form) }}

        </div>
    </div>

{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('bundles/observation/js/toogle.switch.js') }}"></script>
{% endblock %}