{% extends '@Observation/layout.mobile.html.twig' %}

{% block title %}Gestion des roles{% endblock %}

{% block content %}
    <div class="center-90">
        <h1>Gestion des autorisations pour {{ form.vars.data.username }}</h1>
        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
        {{ form_errors(form) }}
        <div class="row">
            {{ form_label(form.roles, form.roles.vars.label, {'label_attr': {'class': 'col-sm-3'}}) }}
            <div class="col-xs-5">
                {{ form_widget(form.roles) }}
            </div>
            {{ form_errors(form.roles) }}
        </div>
        <div class="row">
            <div class="col-xs-6 col-xs-push-3">
                {{ form_widget(form.save) }}
            </div>
        </div>
        {{ form_rest(form) }}
    </div>
{% endblock %}


{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('bundles/observation/js/role.user.js') }}"></script>
{% endblock %}