{# Vue du profil sur mobile #}
{% extends 'ObservationBundle::layout.mobile.html.twig' %}

{% block title %}Profil{% endblock %}

{% block content %}
    <div class="row marge-top">
        <div id="content_avatar">
            {% if app.user.avatar is not null %}
                <img src="{{ asset(app.user.avatar.webPath) }}" class="img-responsive img-circle" alt="{{ app.user.avatar.alt }}">
            {% else %}
                <p>Coissiser une image</p>
            {% endif %}
            <a href="{{ path('user_change_avatar') }}" id="edit_avatar"><i class="fa fa-pencil fa-2x"></i></a>
        </div>
        <div class="container">
            <div class="row marge-top">
                <div class="col-xs-6 text-center fond-bleu-titre count">
                    <div>Observations </div>
                    <div>{{ app.user.observations | length }}</div>
                </div>
                <div class="col-xs-6 text-center fond-bleu-menu-2 count">
                    <div>Médailles</div>
                    <div>{{ app.user.stars |length }}</div>

                </div>
            </div>
        </div>

    </div>
    <table class="marge-top">
        {{ form_start(form) }}
        {{ form_errors(form) }}
        {% for child in form.children if child.vars.name != 'save' and child.vars.name != '_token' %}
            <tr class="row">
                <td class="col-xs-5">{{ child.vars.label }}</td>
                <td class="col-xs-6">
                    <div id="view_{{ child.vars.id }}" class="views" {% if child.vars.errors.count != 0 %}hidden{% endif %}>
                        {% if child.vars.name == 'birthDate' %}
                            {% if child.vars.value.day is not empty %}
                                {{ child.vars.value.day }}/{{ child.vars.value.month }}/{{ child.vars.value.year }}
                            {% else %}
                                Aucune date
                            {% endif %}
                        {% else %}
                            {{ child.vars.value }}
                        {% endif %}
                    </div>
                    <div id="edit_{{ child.vars.id }}" class="edits" {% if child.vars.errors.count == 0 %}hidden{% endif %}>
                        {{ form_widget(child) }}
                        <button type="submit" class="btn btn-xs btn-primary">Enregistrer</button>
                        <button class="btn btn-xs btn-success cancel">Annulé</button>
                    </div>
                </td>
                <td class="col-xs-1"><a href="#" class="edit_button btn btn-xs btn-info" id="{{ child.vars.id }}"><i class="glyphicon glyphicon-edit"></i></a></td>
            </tr>
        {% endfor %}
        {{ form_widget(form._token) }}
        {{ form_end(form, {'render_rest': false})}}

        <tr class="row">
            <td class="col-xs-11" colspan="2">
                Mot de passe
            </td>
            <td class="col-xs-1"><a href="{{ path('user_change_password') }}" class="btn btn-xs btn-info"><i class="glyphicon glyphicon-pencil"></i></a></td>
        </tr>
    </table>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/observation/js/edit.profil.user.js') }}"></script>
{% endblock %}